body{
    border: 0;
}


.container{
    background: url('/imagem/fundo.jpg');
    width: 100%;
    height: 700px;
    opacity : 1;
   font-family: Arial, Helvetica, sans-serif;   
}
.topo{
    display: flex;
    justify-content: space-between;
    padding: 20px  40px;
    margin-bottom: 200px;
}
.logo > img{
   width: 133px;
}
.inscrever{
    display: flex;
    justify-content: space-around;
   
}
.conteudo > h1{
    width: 600px;
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 700;
    margin: 0;
    
}
.conteudo > h3{
    width: 600px;
    text-align: center;
    color: white;
    font-size: 26px;
    margin: 16px;
    font-weight:400;

}
.conteudo > p{
    width: 600px;
    text-align: center;
    color: white;
    font-size: 17px;
    margin: 0px;
    padding: 20px;
    font-weight: 400;

}
.btn-entrar{
    color: white;
    background: rgb(299,9,20);
    border: 0;
    padding: 7px 17px;
    border-radius: 3px;
    cursor: pointer;
}

.select{
    color: white;
    background: black;
    border: 1,25px;
    border-color: white;
    padding: 8px 22px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 20px;
    height: 36px;
    width: 124px;
    font-size: 12px;
}

.btn-conteudo{
    height: 60px;
    width: 150px;
    color: white;
    font-size: 16px;
    background: rgb(299,9,20);
    border: 0;
    padding: 0px 26px;
    cursor: pointer;
}

.input-conteudo{
    height: 60px;
    width: 450px;
    border: 0;
    border-radius: 2px;
   
}





